.email-input {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
}
.email-input label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}